<html lang="es">

<head>
  <meta charset="utf-8"/>
  <title>Blog</title>
</head>
  <body>
    {%if articuloPrincipal != null%}
   <h1>Articulo</h1>
   <h2>{{articuloPrincipal.titulo}}</h2>
   <p>{{articuloPrincipal.contenido}}</p>
   <p>{{articuloPrincipal.fecha_creacion}}</p>
   <p>fecha con formato:{{articuloPrincipal.fecha}}</p>
   <p>Categorias:
     {%for categoria in articuloPrincipal.categorias%}
        {{categoria.nombre}}&nbsp;
     {%endfor%}
   </p>
   <p>Autor articulo: {{articuloPrincipal.usuario.nombre}}</p>
   <p>Email: {{articuloPrincipal.usuario.email}}</p>
   <h3>Comentarios</h3>
   {%for comentario in articuloPrincipal.comentarios%}
     <p>{{comentario.comentario}}</p>
   {%endfor%}

   {%else%}
     <h2>no existe el articulo</h2>
   {%endif%}
  </body>
</html>
